<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% block stylesheets %}
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
			<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
			<link rel="stylesheet" href="/assets/css/icofont/icofont.css">
			<link rel="stylesheet" href="/assets/css/main.css">
		{% endblock %}
		<title>
			{% block title %}Panel Administrateur
			{% endblock %}
		</title>
	</head>
	<body>
		<header>
			<div class="container-fluid p-0 m-0 bg-black col-12">
				<div class="col-12 d-flex flex-column flex-md-row w-75 header-size p-0">
					<div class="col-6 col-md-3 mt-2">
						<img src="/assets/img/logo.png" alt="" class="img-responsive">
					</div>
					<div class="col-12 col-md-6 text-white d-flex justify-content-center my-auto ml-md-5">
						<h2 class="">{% block h2 %}{% endblock %}
							</h2>
						</div>
					</div>
				</div>
			</header>
			<main>
				<div class="container-fluid mb-5">
					<div class="row position-relative">
						{% include './admin/partial/menu.html.twig' %}
						{% block content %}{% endblock %}
					</div>
				</div>
				{% block javascripts %}
					<script src="https://kit.fontawesome.com/a2bab1df4f.js" crossorigin="anonymous"></script>
					<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
					<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
					<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
					<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
					<script src="/assets/js/main.js"></script>
				{% endblock %}
			</main>
		</body>
	</html>
