<div class="col-2 bg-black">
	<nav class="d-flex justify-content-start mt-5 p-0 m-0">
		<ul class="list-unstyled d-flex flex-column mx-auto">
			<a class="btn text-white" href="/uptache">
				<li>Mes tâches</li>
			</a>
			<a class="btn text-white" href="">
				<li>Mes infos</li>
			</a>
			<a class="btn text-white" href="">
				<li>Mon planning</li>
			</a>
			<a class="btn text-white" href="/logout">
				<li>Déconnexion</li>
			</a>
		</ul>
	</nav>
</div>
