.bg-black{
    background-color: black;
}

.text-red{
    color: red;
}

.resize{
    resize: none;
}

.bord{
    border: none !important;
}

.f-size-ref {
    font-size: 1.5rem;
}

.f-size {
    font-size: 1.3rem;
}

.hamb1 {
    height: 5px;
    width: 40px;
}

#ui-datepicker-div{
    z-index: 1000;
    background-color: white;
}

@media screen and (max-width: 576px) {

    .h-size{
        font-size: 1.2rem;
    }

    .d-size{
        font-size: 1rem;
    }

    .header-size {
        width: 100% !important;
    }
    
    .menu {
        display: none;
        width: 75% !important;
        position: absolute;
        top: 100px;
        left: 0;
        background-color: black;
        z-index: 1000;
    }
}

@media screen and (max-width: 768px) {

    .header-size {
        width: 100% !important;
    }
}

