<h1>Bonjour {{ name }}!</h1>

<p>Nous vous envoyons l'intervention qui a pour référence {{ ref }}.</p>

<p>Pour accéder aux informations concernant l'appareil veuillez consulter notre API: localhost:8000/api/repair/{{ref}}</p>

<p>L'équipe RepHighTech à bientôt</p>

