<div class="col-2 col-lg-2 bg-black mx-auto">
	<div class="col-2 p-2 d-block d-md-none my-auto hamb mr-2">
		<div class="hamb1 bg-white mb-2"></div>
		<div class="hamb1 bg-white mb-2"></div>
		<div class="hamb1 bg-white"></div>
	</div>
	<nav class="d-none d-md-flex justify-content-start mt-5 p-0 m-0">
		<ul class="list-unstyled d-flex flex-column mx-auto">
			<a class="btn text-white" href="/admin">
				<li>Accueil</li>
			</a>
			<a class="btn text-white" href="/admin/employee">
				<li>Employé</li>
			</a>
			<a class="btn text-white" href="/admin/intervention">
				<li>Interventions</li>
			</a>
			<a class="btn text-white" href="/admin/customer">
				<li>Clients</li>
			</a>
		</ul>
	</nav>
</div>
<nav class="menu d-md-none justify-content-start mt-5 p-0 m-0 ml-5 p-relative">
	<ul class="list-unstyled d-flex flex-column mx-auto">
		<a class="btn text-white" href="/admin">
			<li>Accueil</li>
		</a>
		<a class="btn text-white" href="/admin/employee">
			<li>Employé</li>
		</a>
		<a class="btn text-white" href="/admin/intervention">
			<li>Interventions</li>
		</a>
		<a class="btn text-white" href="/admin/customer">
			<li>Clients</li>
		</a>
	</ul>
</nav>
