<div class="col-2 bg-black mx-auto">
	<nav class="d-flex justify-content-start mt-5 p-0 m-0">
		<ul class="list-unstyled d-flex flex-column mx-auto">
			<a class="btn text-white" href="/admin">
				<li>Accueil</li>
			</a>
			<a class="btn text-white" href="/admin/employee">
				<li>Employé</li>
			</a>
			<a class="btn text-white" href="/admin/intervention">
				<li>Interventions</li>
			</a>
			<a class="btn text-white" href="/admin/customer">
				<li>Clients</li>
			</a>
		</ul>
	</nav>
</div>
